.contact-box{
    width: 70%;
    box-shadow: 2px 2px 5px ;
    /* border: 1px solid black; */
    margin:auto;
    margin-top: 10vh;
    padding-block: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    margin-bottom: 10vh;
}

.form-cont{
    border-top: 2px solid black;
    width: 90%;
    padding-block: 5vh;
    padding-inline: 2vh;
    text-align: center;
    border-bottom: 2px solid black;
}

.form-cont label{
    font-size: large;
}


.form-cont input,
.form-cont textarea{
    width: 40%;
    padding: 5px 9px;
    font-size: medium;
    outline: none;
    border:none;
    caret-color: blue;
    color: blue;
    border-bottom: 1px solid blue;
    margin-bottom: 2vh;
    font-weight: 600;
    
}

.form-cont input::selection,
.form-cont textarea::selection{
    background-color:rgb(246, 178, 178);
}









.form-cont textarea{
    width: 90%;
    max-width: 90%;
    height: 10vh;
    max-height: auto;
}

.form-cont button{
    padding-inline: 9px;
    padding-block: 3px;
    background-color: white;
    border: 2px solid var(--cont-color);
    margin: 5px;
    transition: all linear .4s;
    font-size: medium;
    border-radius: 5px;
}


.form-cont button:hover{
    background-color: var(--cont-color);
    color: black;
}

.social{
    box-shadow: 2px 2px 5px;
    padding: 5px 9px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.social:hover{
    text-decoration: underline;
}

.social i{
    font-size: larger;
    font-weight: 600;
    color: black;
}












